:root{
    --bs-warning-rgb: 224, 169, 5;
    --bs-body-bg: white;
    --bs-link-color: black;
    --bs-link-hover-color: rgb(102, 102, 102);
    --bs-border-color: #000000;
}
.nav-tabs{
    --bs-nav-tabs-link-bg: white !important;
    --bs-nav-tabs-link-active-bg: #838383 !important;
}
.nav-tabs .nav-link{
    border-color:#3a3a3a;
    --bs-nav-tabs-link-active-border-color: black;
}
body{
    background-image: url("fundo.jpg");
    background-size: 100vw 100vh;
    margin: 0px;
    box-sizing: border-box;
    color: black;
}
table{
    width: 801px;
    border: 0px;
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
}
tr{
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-spacing: 0px;
}
td{
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 80px;
    color: white;
}
.nameuser{
    background-color: transparent;
    border: none;
    padding: 0px;
    margin-right: 5px;
}
input::placeholder{
    color: black;
}
h2:hover{
    text-decoration: underline;
    font-weight: bold;
}
.parede{
    background-image: url("parede2.png");
    background-repeat: none;
    background-size: cover;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
.chao{
    background-image: url("chao.jpg");
    background-repeat: none;
    background-size: cover;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
#tabeladiv{
    float: left;
    box-sizing: border-box;
    margin: 0px 0px 0px 20px;
    line-height: 1;
}
.jogador{
    background-image: url("player.png");
    background-repeat: none;
    background-size: cover;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
.coin{
    background-image: url("coing.png");
    background-repeat: none;
    background-size: cover;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
.monster4{
    background-image: url("monster4g.png");
    background-repeat: none;
    background-size: cover;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
.monster1{
    background-image: url("monster1g.png");
    background-repeat: none;
    background-size: cover;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
.monster3{
    background-image: url("monster3g.png");
    background-repeat: none;
    background-size: cover;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
.monster2{
    background-image: url("monster2g.png");
    background-repeat: none;
    background-size: cover;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
.fim{
    background-image: url("end.png");
    background-repeat: none;
    background-size: cover;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
#tabela{
    display: none;
    border: 1px solid #d9b99b;
    box-sizing: border-box;
}
#options{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
.myButton {
    box-shadow: 6px 5px 0px 0px #d49622;
    background:linear-gradient(to bottom, #000000 5%, #3a3a3a 100%);
    background-color:#000000;
    border-radius:20px;
    border:1px solid #000000;
    display:inline-block;
    cursor:pointer;
    color:#eb6e00;
    font-family:Verdana;
    font-size:40px;
    font-weight:bold;
    padding:20px 80px;
    text-decoration:none;
    text-shadow:2px 1px 0px #824c00;
    margin: 40px;
}
.myButton:hover {
    box-shadow: 6px 5px 0px 0px #7a2a01;
    background:linear-gradient(to bottom, #d49622 5%, #ffd000 100%);
    background-color:#d49622;
    transform: scale(1.05);
}
.myButton:active {
    position:relative;
    top: 2px;
}
#voltar{
    font-size:80px;
    padding: 0px 25px 0px 15px;
    margin: 10px 40px 40px 80px;
    visibility: hidden;
}
#som{
    font-size:80px;
    padding: 0px 20px;
    margin: 10px 80px 40px 40px;
}
#button5{
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 28px;
}
#stats{
    display: none;
    border: 1px solid black;
    border-radius: 15px;
    background-image: linear-gradient(120deg, #824b03, #b36a0b);
    float: right;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
    margin: 35px 20px 0px 0px;
    height: 60%;
}
#stats > div{
    text-align: center;
}
#edit{
    display: none;
    border: 1px solid black;
    border-radius: 15px;
    background-image: linear-gradient(120deg, #824b03, #b36a0b);
    float: right;
    flex-direction: row;
    width: 45vw;
    margin: 15px 20px 0px 0px;
    height: 60vh;
}
#container > img{
    display: block;
    float: left;
    margin: auto;
    width: 80px;
    height: 80px;
}
#container{
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-right: 1px dotted black;
    border-left: 1px dotted black;
}
#labels{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#labels > p{
    margin: auto;
    font-size: 30px;
    text-align: center;
}
#howto{
    display: flex;
    width: 100%;
    justify-content: center;
}
#comojogar{
    display: none;
    margin: auto;
    border: 1px solid black;
    border-radius: 15px;
    background-image: linear-gradient(120deg, #824b03, #b36a0b);
    text-align: center;
    font-size: 30px;
    width: 40%;
    margin: 35px 20px 0px 0px;
    height: 60%;
    padding: 10px;
}
p > img{
    display: inline-block;
    height: 20px;
}
#winner{
    display: none;
    margin: auto;
    border: 1px solid black;
    border-radius: 15px;
    background-image: linear-gradient(120deg, #824b03, #b36a0b);
    text-align: center;
    font-size: 30px;
    width: 40%;
    margin: 35px 20px 0px 0px;
    height: 60%;
    padding: 10px;
}
#loser{
    display: none;
    margin: auto;
    border: 1px solid black;
    border-radius: 15px;
    background-image: linear-gradient(120deg, #824b03, #b36a0b);
    text-align: center;
    font-size: 30px;
    width: 40%;
    margin: 35px 20px 0px 0px;
    height: 60%;
    padding: 10px;
}
#savemap{
    clear: right;
    float: right;
    display: none;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#difchooser{
    width: 100%;
    display: none;
    justify-content: center;
}
#diftable{
    display: none;
    justify-content: center;
}
.col{
    text-align: center;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
.mb-5{
    margin-bottom: 5rem important;
}
#recordes{
    background-color: white;
}
.form-control{
    background-color: white;
    --bs-body-bg: white;
}